@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  height: 100vh;
  background-color: black;
}

.moveL {
  width: 200%;
  animation: bannermoveL 15s linear infinite;
}

.moveR {
  width: 200%;
  animation: bannermoveR 15s linear infinite;
}

@keyframes bannermoveL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bannermoveR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
