@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  height: 100%;
  background-color: black;
}

.moveL {
  width: 1100%;
  animation: bannermoveL 30s linear infinite alternate;
}

.moveR {
  width: 1100%;
  animation: bannermoveR 30s linear infinite alternate;
}

.ourplaces {
  width: 600%;
  animation: bannermoveOURs 20s linear infinite alternate;
}

@keyframes bannermoveOURs {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bannermoveL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bannermoveR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

canvas.img-sequence {
  display: block;
  width: 100%;
  height: auto;
}

.swiper-pagination.swiper-pagination-bullets-dynamic.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -32px;
  z-index: 1000;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-ios.swiper-backface-hidden.mySwiper {
  overflow: visible;
}

span.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: white;
}

span.swiper-pagination-bullet {
  border-color: white;
  border-width: 1px; /* เพิ่มความหนาของเส้นขอบ */
}
