@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

body {
  height: 100vh;
  background-color: black;
}

.moveL {
  width: 1100%;
  animation: bannermoveL 30s linear infinite alternate;
}

.moveR {
  width: 1100%;
  animation: bannermoveR 30s linear infinite alternate;
}

@keyframes bannermoveL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bannermoveR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
